MarsRoverApp/MarsRoverApp.UWP/Connected Services/MarsRoverService/RoverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetHistory">
        <s:complexType />
      </s:element>
      <s:element name="GetHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoryResult" type="tns:ArrayOfRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Record">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Input" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="command" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupPlateau">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xCoord" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="yCoord" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupPlateauResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetupPlateauResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupRover">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xCoord" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="yCoord" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="heading" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupRoverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetupRoverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfRecord" nillable="true" type="tns:ArrayOfRecord" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="GetHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauSoapIn">
    <wsdl:part name="parameters" element="tns:SetupPlateau" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauSoapOut">
    <wsdl:part name="parameters" element="tns:SetupPlateauResponse" />
  </wsdl:message>
  <wsdl:message name="SetupRoverSoapIn">
    <wsdl:part name="parameters" element="tns:SetupRover" />
  </wsdl:message>
  <wsdl:message name="SetupRoverSoapOut">
    <wsdl:part name="parameters" element="tns:SetupRoverResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoryHttpGetIn" />
  <wsdl:message name="GetHistoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRecord" />
  </wsdl:message>
  <wsdl:message name="SendCommandHttpGetIn">
    <wsdl:part name="command" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendCommandHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauHttpGetIn">
    <wsdl:part name="xCoord" type="s:string" />
    <wsdl:part name="yCoord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetupRoverHttpGetIn">
    <wsdl:part name="xCoord" type="s:string" />
    <wsdl:part name="yCoord" type="s:string" />
    <wsdl:part name="heading" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetupRoverHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryHttpPostIn" />
  <wsdl:message name="GetHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRecord" />
  </wsdl:message>
  <wsdl:message name="SendCommandHttpPostIn">
    <wsdl:part name="command" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauHttpPostIn">
    <wsdl:part name="xCoord" type="s:string" />
    <wsdl:part name="yCoord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetupPlateauHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetupRoverHttpPostIn">
    <wsdl:part name="xCoord" type="s:string" />
    <wsdl:part name="yCoord" type="s:string" />
    <wsdl:part name="heading" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetupRoverHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="RoverServiceSoap">
    <wsdl:operation name="GetHistory">
      <wsdl:input message="tns:GetHistorySoapIn" />
      <wsdl:output message="tns:GetHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input message="tns:SendCommandSoapIn" />
      <wsdl:output message="tns:SendCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <wsdl:input message="tns:SetupPlateauSoapIn" />
      <wsdl:output message="tns:SetupPlateauSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <wsdl:input message="tns:SetupRoverSoapIn" />
      <wsdl:output message="tns:SetupRoverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RoverServiceHttpGet">
    <wsdl:operation name="GetHistory">
      <wsdl:input message="tns:GetHistoryHttpGetIn" />
      <wsdl:output message="tns:GetHistoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input message="tns:SendCommandHttpGetIn" />
      <wsdl:output message="tns:SendCommandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <wsdl:input message="tns:SetupPlateauHttpGetIn" />
      <wsdl:output message="tns:SetupPlateauHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <wsdl:input message="tns:SetupRoverHttpGetIn" />
      <wsdl:output message="tns:SetupRoverHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RoverServiceHttpPost">
    <wsdl:operation name="GetHistory">
      <wsdl:input message="tns:GetHistoryHttpPostIn" />
      <wsdl:output message="tns:GetHistoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input message="tns:SendCommandHttpPostIn" />
      <wsdl:output message="tns:SendCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <wsdl:input message="tns:SetupPlateauHttpPostIn" />
      <wsdl:output message="tns:SetupPlateauHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <wsdl:input message="tns:SetupRoverHttpPostIn" />
      <wsdl:output message="tns:SetupRoverHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoverServiceSoap" type="tns:RoverServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap:operation soapAction="http://tempuri.org/SendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <soap:operation soapAction="http://tempuri.org/SetupPlateau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <soap:operation soapAction="http://tempuri.org/SetupRover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoverServiceSoap12" type="tns:RoverServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap12:operation soapAction="http://tempuri.org/GetHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap12:operation soapAction="http://tempuri.org/SendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <soap12:operation soapAction="http://tempuri.org/SetupPlateau" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <soap12:operation soapAction="http://tempuri.org/SetupRover" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoverServiceHttpGet" type="tns:RoverServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetHistory">
      <http:operation location="/GetHistory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <http:operation location="/SendCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <http:operation location="/SetupPlateau" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <http:operation location="/SetupRover" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoverServiceHttpPost" type="tns:RoverServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetHistory">
      <http:operation location="/GetHistory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <http:operation location="/SendCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupPlateau">
      <http:operation location="/SetupPlateau" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRover">
      <http:operation location="/SetupRover" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoverService">
    <wsdl:port name="RoverServiceSoap" binding="tns:RoverServiceSoap">
      <soap:address location="http://127.0.0.1:44383/Webservices/RoverService.asmx" />
    </wsdl:port>
    <wsdl:port name="RoverServiceSoap12" binding="tns:RoverServiceSoap12">
      <soap12:address location="http://127.0.0.1:44383/Webservices/RoverService.asmx" />
    </wsdl:port>
    <wsdl:port name="RoverServiceHttpGet" binding="tns:RoverServiceHttpGet">
      <http:address location="http://127.0.0.1:44383/Webservices/RoverService.asmx" />
    </wsdl:port>
    <wsdl:port name="RoverServiceHttpPost" binding="tns:RoverServiceHttpPost">
      <http:address location="http://127.0.0.1:44383/Webservices/RoverService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>